<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35162938234-a4qcsto8pb4g0qhn7vrnc2au9oe3mbht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35162938234-a4qcsto8pb4g0qhn7vrnc2au9oe3mbht</string>
	<key>API_KEY</key>
	<string>AIzaSyCtIHiRtPSkDaAE0-csUB_jBk3n10Un3b0</string>
	<key>GCM_SENDER_ID</key>
	<string>35162938234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raphaellim.dateMe</string>
	<key>PROJECT_ID</key>
	<string>dateme-78b61</string>
	<key>STORAGE_BUCKET</key>
	<string>dateme-78b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35162938234:ios:62c11cfb1b89e549</string>
	<key>DATABASE_URL</key>
	<string>https://dateme-78b61.firebaseio.com</string>
</dict>
</plist>
